<div>
  {{#with main}}
    <main>
      <section>
        <div class='card m-2'>
          <div class='card-header'>
            <h2>My education</h2>
          </div>
          <ul class='list-group list-group-flush'>
            {{#each education}}
              <li class='list-group-item'>
                {{name}}
                {{#unless isEnd}} (in progress) {{/unless}}
              </li>
            {{/each}}
          </ul>
        </div>
      </section>
      <section>
        <div class='card m-2'>
          <div class='card-header'>
            <h3>My certificates</h3>
          </div>
          <ul class='list-group list-group-flush'>
            {{#each certificates}}
              <li class='list-group-item'>
                {{name}}
                ({{id}})
              </li>
            {{/each}}
          </ul>
        </div>
      </section>
    </main>
  {{/with}}
</div>