<div class='my-5'>
  <h3>Список сторінок</h3>
  <p>Інформація про проєкт</p>
</div>
<section>
  <div class='d-grid col-3'>
    {{#each pages}}
      <div>
        <a
          class='btn btn-primary mb-2'
          href={{href}}
        >{{text}}</a>
      </div>
    {{/each}}
  </div>
</section>